<section>
  <h1>About Me</h1>
  <p>{% img left /images/avatar.jpg 80 80 %} <strong>Romain Beaudon</strong><br>
    <em>Paris, France</em><br><br>

    I am a technical consultant working primarily in the fields of ​​performance engineering and sofware architecture. On my spare time I do web development and music production</p>
  <p>
    <a href="http://github.com/rombdn">Github</a><br>
    <a href="http://www.twitter.com/rombdn">Twitter</a><br>
    <a href="http://www.linkedin.com/pub/romain-beaudon/18/199/223">LinkedIn</a>
  </p>
</section>